@import 'core/settings';
@import 'layouts/header';
@import 'layouts/main--info';
@import 'layouts/projects';
@import 'layouts/tech';
@import 'layouts/footer';

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #F2F2F2;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
