<footer class="footer">
  <h2 class="footer__title">Contacto</h2>
  <div class="footer__info">
    <ul class="footer__list">
      <li class="footer__item">
        <a class="linkedin" href="https://www.linkedin.com/in/libertadchapinalcervantes/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li class="footer__item">
        <a class="twitter" href="https://twitter.com/LibertadChC" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="footer__item">
        <a class="github" href="https://github.com/libertadcc" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li class="footer__item">
        <a class="mail" href="mailto:libertadchapinalcervantes@gmail.com" target="_blank">
          <i class="far fa-envelope"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
