<header id="top" class="page__header">
  <div class="header__wrapper">
    <h1 class="header__title">Libertad Chapinal</h1>
    <nav class="header__menu">
      <ul class="header__list">
        <li class="header__item">
          <h2 class="header__item--title">
            <a class="header__item--link" href="index.html#project">Proyectos</a>
          </h2>
        </li>
        <li>
          <h2 class="header__item--title">
            <a class="header__item--link" href="index.html#tech">Tecnologías</a>
          </h2>
        </li>
        <li>
          <h2 class="header__item--title">
            <a class="header__item--link" href="index.html#contact">Contacto</a>
          </h2>
        </li>
      </ul>
    </nav>
  </div>
</header>
