<section class="main__bio">
  <div class="main__info">
    <div class="info__img">
    </div>
    <div class="info__data">
      <h2 class="info__data--name">Libertad Chapinal</h2>
      <h3 class="info__data--front">Desarrolladora front-end junior</h3>
    </div>
    <a href="index.html#top" class="btn">
      <i class="fas fa-chevron-circle-up"></i>
    </a>
  </div>
  <p class="personal__info">
    Después de formarme como bióloga y ecóloga, decidí seguir adentrándome en el mundo de las tecnologías STEM. Tras un primer contacto con la programación analizando estadísticamente datos medioambientales, Adalab me dió la oportunidad de formarme como desarrolladora front-end.
  </p>
</section>

