<section id="project" class="projects">
  <h2 class="projects__title">Proyectos</h2>
  <div class="projects__info">
    <ul class="projects__list">
      <li class="projects__item">
        <h3 class="project__name">Web corporativa</h3>
        <img class="project__img" src="../../assets/images/web1_mb.png">
        <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam, dicta expedita in possimus, aut unde maiores, fugit vel veritatis repellat libero ullam minima voluptate corporis laborum eveniet facilis tempore.</p>
      </li>
      <li class="projects__item">
        <h3 class="project__name">Awesome profile cards</h3>
        <img class="project__img" src="../../assets/images/web2_mb.png">
        <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam, dicta expedita in possimus, aut unde maiores, fugit vel veritatis repellat libero ullam minima voluptate corporis laborum eveniet facilis tempore.</p>
      </li>
      <li class="projects__item">
        <h3 class="project__name">Código heredado</h3>
        <img class="project__img"  src="../../assets/images/web3_mb.png">
        <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam, dicta expedita in possimus, aut unde maiores, fugit vel veritatis repellat libero ullam minima voluptate corporis laborum eveniet facilis tempore.</p>
      </li>
      <li class="projects__item">
        <h3 class="project__name">Stack-NFQ</h3>
        <img class="project__img"  src="../../assets/images/web4_mb.png">
        <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam, dicta expedita in possimus, aut unde maiores, fugit vel veritatis repellat libero ullam minima voluptate corporis laborum eveniet facilis tempore.</p>
      </li>
    </ul>
  </div>
</section>
