<section id="project" class="projects">
  <h2 class="projects__title">Proyectos</h2>
  <div class="projects__info">
    <ul class="projects__list">
      <li class="projects__item">
        <h3 class="project__name">Web corporativa</h3>
        <a href="http://beta.adalab.es/f-m1-class-coders/" target="_blank"><img class="project__img" src="../../assets/images/web1_mb.png"></a>
        <p class="project__description">Web corporativa para la presentación del equipo de trabajo desarrollada con HTML, CSS3 y SCSS.</p>
      </li>
      <li class="projects__item">
        <h3 class="project__name">Awesome profile cards</h3>
        <a href="http://beta.adalab.es/fairfax-m2-wildcards/" target="_blank">
          <img class="project__img" src="../../assets/images/web2_mb.png">
        </a>
        <p class="project__description">Aplicación web para crear tarjetas de visitas personalizadas. Realizada con HTML, SCSS y JavaScript.</p>
      </li>
      <li class="projects__item">
        <h3 class="project__name">Código heredado</h3>
        <a href="http://beta.adalab.es/f-m3-unicodes/#/" target="_blank">
          <img class="project__img"  src="../../assets/images/web3_mb.png">
        </a>
        <p class="project__description">Web para la personalización de tarjetas de visitas. Migración del código de una aplicación de JavaScript a React.</p>
      </li>
      <li class="projects__item">
        <h3 class="project__name">Stack-NFQ</h3>
        <a href="http://beta.adalab.es/fairfax-m4-stack-nfq/#/home" target="_blank">
          <img class="project__img"  src="../../assets/images/web4_mb.png">
        </a>
        <p class="project__description">Aplicación web para los desarrolladores de Nfq Solutions, donde plantear y responder preguntas. Realizada con React, JSX, SCSS y material-ui.</p>
      </li>
      <li class="projects__item">
        <h3 class="project__name">Buscador Hogwarts</h3>
        <a href="http://beta.adalab.es/f-m3-evaluacion-final-libertadcc/#/" target="_blank">
          <img class="project__img"  src="../../assets/images/web5_mb.png">
        </a>
        <p class="project__description">Buscador web para la búsqueda de personajes de Harry Potter. Realizado con React y SCSS.</p>
      </li>
      <li class="projects__item">
        <h3 class="project__name">Buscador de series</h3>
        <a href="http://beta.adalab.es/f-m2-evaluacion-final-libertadcc/" target="_blank">
          <img class="project__img"  src="../../assets/images/web6_mb.png">
        </a>
        <p class="project__description">Aplicación web para la búsqueda de personajes series de televisión y selección de favoritos. Realizado con HTML, SCSS y JavaScript.</p>
      </li>
      <li class="projects__item">
        <h3 class="project__name">Pokédex</h3>
        <a href="http://beta.adalab.es/f-m3-evaluacion-intermedia-libertadcc/" target="_blank">
          <img class="project__img"  src="../../assets/images/web7_mb.png">
        </a>
        <p class="project__description">Visualizador de pokemon realizado con HTML, SCSS y JavaScript.</p>
      </li>
    </ul>
  </div>
</section>
