<section id="tech" class="tech">
  <h2 class="tech__title">Tecnologías</h2>
  <div class="tech__info">
    <ul class="tech__list">
      <li class="tech__item">
        <img class="tech__img" src="../../assets/images/html-icon.png">
        <h3 class="tech__name">HTML</h3>
      </li>
      <li class="tech__item">
        <img class="tech__img" src="../../assets/images/css-icon.png">
        <h3 class="tech__name">CSS</h3>
      </li>
      <li class="tech__item">
        <img class="tech__img" src="../../assets/images/sass-icon.png">
        <h3 class="tech__name">Sass</h3>
      </li>
      <li class="tech__item">
        <img class="tech__img" src="../../assets/images/javascript-icon.jpg">
        <h3 class="tech__name">JavaScript</h3>
      </li>
      <li class="tech__item">
        <img class="tech__img" src="../assets/images/react-icon.png">
        <h3 class="tech__name">React</h3>
      </li>
    </ul>
  </div>
</section>
