<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Libertad Chapinal</title>
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Parentesi_Uncinate.svg/1200px-Parentesi_Uncinate.svg.png"/>
  <link rel="stylesheet" href="assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous">
</head>
<body>
  <div class="page">
    <partial src="_header.html" label="Header"></partial>
    <main class="page__main">
      <partial src="_main--info.html" label="Main"></partial>
      <partial src="_projects.html"></partial>
      <partial src="_tech.html"></partial>
    </main>
    <partial src="_footer.html" label="Footer"></partial>
  </div>
</body>
</html>
