.tech {
  margin: 0;
  padding: 20px 40px;
  background-color: $color-grey;
  text-align: center;
}

.tech__title {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 15px;
}

.tech__list{
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 15px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 0 0;
  max-width: 450px;
  @media all and (min-width: $bp-tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1000px;
  }
}

.tech__img {
  width: 80px;
  height: 80px;
}
